body{
           background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIuA-nFHsJ49SeVnLbuIxVGBH3hdDHl3P57g&usqp=CAU);
           }
           h1{
               color: tomato;
               
           }
           img{
               width: 400px;
           }
           
           #spanId{
               font-size: 18px;
               margin: 50px;
           }
           h2{
            display: flex;
            justify-content: center;
            color: yellow;
            background-color: green;
            border: 200px;
            margin: 200px;
            padding: 20px
           }